<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap" rel="stylesheet">
    <link th:href="@{/css/navbar.css}" rel="stylesheet" />
</head>
<body>
    <!-- 네비게이션 바 ------------------------------------>
    <nav class="navbar">
        <div class="container">
            <div class="nav-1 nav-common">
                Story House
            </div>
            <div class="nav-2 nav-common">
                <button>로그인</button>
            </div>
        </div>
    </nav><!-- 네비게이션바 끝 -->
</body>
</html>