<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/navbar.css}" rel="stylesheet" />
</head>
<body>
    <!-- 네비게이션 바 ------------------------------------>
    <nav class="navbar">
        <div class="container">
            <div class="nav_1 nav_common">
                Story House
            </div>
            <div class="nav_2 nav_common">
                <button>로그인</button>
            </div>
        </div>
    </nav><!-- 네비게이션바 끝 -->
</body>
</html>