@charset "UTF-8";

.logo-container{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    font-size: 75px;
    margin-top: 80px;
    font-family: 'Fugaz One', cursive;
}
.search-fixed {
    position: fixed;
    top: 0;
}
.search-scale{
    margin-top: -20px;
    position: fixed;
    transition: 0.3s;
    opacity: 1!important;
}
.search-container{
    width: 100%;
    height: 80px;
    display: grid;
    justify-content: center;
    align-items: center;
    z-index: 5;
    grid-template-columns: 20% 60% 20%;
}
.container-set{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}
.small-logo{
    font-size: 20px;
    font-family: 'Fugaz One', cursive;
    margin-left: 50px;
    width: 140px;
    transition: 0.1s;
    opacity: 0;
}
.small-login{
    background-color: #000000;
    width: 100px;
    border-radius: 30px;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    font-size: 14px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    transition: 0.1s;
    opacity: 0;
}
.search-icon{
    font-size: 15px;
    color: gray;
    left: 35px;
    position: relative;
    z-index: 1;
}
.search-icon-scroll{
    top:-10px!important;
}
.search-bar{
    position: absolute;
    margin-left: 30px;
    width: 600px;
    height: 40px;
    border-style: none;
    z-index: 1;
}
.search-bar-shadow{
    position: relative;
    width: 700px;
    height: 40px;
    border-radius: 30px;
    border-style: none;
    background-color: white;
    box-shadow: 1px 1px 5px 3px rgba(169, 168, 168, 0.34);
}
.search-bar-shadow:hover{
    box-shadow: 1px 1px 5px 5px rgba(169, 168, 168, 0.34);
}
.search-bar:focus {
    outline: none;
    text-align: left;
}
.search-bar:hover + .search-bar-shadow{
    box-shadow: 1px 1px 5px 5px rgba(169, 168, 168, 0.34);
}
.favorites-container{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.favorites-sub-container{
    padding-left: 300px;
    padding-top: 10px;
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15%;
    grid-template-rows: 160px 160px 160px;
    width: 60%;
    height: 490px;
}
.favorites-item {
    border-radius: 10px;
}
.favorites-item:hover{
    opacity: 0.2;
    background-color: gray;
}
.info-container{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-arrow{
    font-size: 40px;
}
.test{
    width: 100%;
    height: 500px;
    background-color: antiquewhite;
}
.footer-container{
    height: 200px;
    background-color: blueviolet;
}
/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px) {

    .favorites-sub-container{
        padding-left: 20px;
        grid-template-columns: 20% 20% 20% 20% 20%;
        grid-template-rows: 130px 130px 130px;
    }
    .search-bar{
        width: 500px;
    }
}
/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width:767px) {
    .logo{
        font-size: 50px;
    }
    .favorites-sub-container{
        padding-left: 0;
        grid-template-columns: 25% 25% 25%;
        grid-template-rows: 75px 75px 75px 75px 75px;
        grid-gap: 50px;
    }
    .search-bar{
        width: 200px;
    }
    .small-logo{
        display: none;
    }
    .small-login {
        display: none;
    }
}

