@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
}

.logo-container{
    height: 180px;
}
.logo{
    text-align: center;
    font-size: 60px;
    padding-top: 80px;
    font-family: 'Fugaz One', cursive;
}
.form-container{
    display: grid;
    place-items:center;
    padding-top: 80px;
    grid-auto-rows: 60px;
    height: 250px;
}
.form-item{
    width: 20%;
    height: 50px;
    border-radius: 10px;
}
.sign-container{
    height: 100px;
}
.sing-item{
    text-align: center;
}
.sns-container{
    display: grid;
    place-items: center;
    height: 180px;
}
.sns-item{
    width: 20%;
    height: 50px;
}
.footer-container{
    height: 160px;
    background-color: blueviolet;
}
.btn{
    background-color: #000000;
    border-radius: 10px;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    font-size: 14px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    transition: 0.1s;
    opacity: 1;
}
/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px) {
    .logo{
        font-size: 50px;
    }
    .form-item{
        width: 40%;

    }
    .sns-item{
        width: 40%;
    }
}
/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width:767px) {
    .logo{
        font-size: 50px;
    }
    .form-item{
        width: 50%;

    }
    .sns-item{
        width: 50%;
    }
}