@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
}
.container{
    height: 50px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: antiquewhite;
}
.nav-common{
    display: inline;
}
.nav-1{
    font-size: 20px;
    font-family: 'Fugaz One', cursive;
    visibility: hidden;
}
.nav-2{
    float:right;
}
.nav-2 button {
    background-color: #000000;
    width: 100px;
    border-radius: 30px;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    font-size: 14px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
.nav-2 button:hover {opacity: 0.5}
