<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>house</title>
    <!-- 메인 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap" rel="stylesheet">
    <link th:href="@{/css/house.css}" rel="stylesheet" />
    <!-- 폰트어썸 -->
    <script th:src="@{https://kit.fontawesome.com/3337789680.js}" crossorigin="anonymous"></script>
    <!-- jQuery -->
    <script th:src="@{https://code.jquery.com/jquery-latest.js}"></script>
</head>
<body>
    <div class="house-container">
        <div class="house-item header">

        </div>
        <div class="house-item avatar">

        </div>
        <div class="house-item content">

        </div>
    </div>
</body>
</html>