<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SH : 로그인</title>
</head>
<body>
    <!-- 헤더 -------------------------------------------------------------------------------->
    <header>
        <div class="logo">
            Story House
        </div>
    </header><!-- 헤더 끝 -->

    <!-- 로그인 ------------------------------------------------------------------------------->
    <div>

    </div><!-- 로그인 끝 -->

    <!-- 푸터 --------------------------------------------------------------------------------->
    <div>

    </div><!-- 푸터 끝 -->
</body>
</html>